html { 
    background-color: orange;
  }

  body {
      font-family: 'Josefin Sans', sans-serif;
      color: white;
      font-size: 22px;
  }

  /*Styling for the navigation bar at the top of the page*/

  .navbar.container {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar {
    justify-content: space-between;
}

.navbar a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}

a:visited {
    color: hotpink;
    text-decoration: none;    
}

a:hover {
    color:yellow;
    text-decoration: none;  
}


/*Styling for the header of the website which reads "Rice Village Nerd Club*/

  header {
      display: block;
      height: 15rem;
  }

  header h1 {
      color: white;
      text-align: center;
      margin-top: 10rem;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.6);
      
  }

  /*Styling for the about section*/

  #summary {
      margin-left: 1rem;
      margin-bottom: 5rem;
  }


  #founding-members {
   margin-left: 1rem;
   margin-top: 5rem;
}

  #services-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
  }

  #team-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .product {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 5px;
      min-width: 240px;
      max-width: 400px;
      font-weight: bold;
}

  .product-image {
      height: 300px;
      width: 300px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
  }

  .service-image {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.product span {
    padding: 5px;
    min-width: 800px;
    font-weight: bold;
    text-align: left;
    font-size: 40px;

}

.services span {
    padding: 5px;
    min-width: 800px;
    font-weight: bold;
    text-align: left;
    font-size: 40px;

}

.team h2 {
    margin: 2%;
}

.work-title{
    margin: 0%;
    text-decoration: underline;
}

.contact container {
    display: flex;
}

.contact copyright {
    display: flex;
}